<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Manager</h1>
  <div class="col-6 offset-3">
    <form action="/managers" method="POST" novalidate class="validated-form" enctype="multipart/form-data"> 
      <!-- enctype="multipart/form-data" -->
      <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" type="text" id="name" name="manager[name]" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image(s)</label>
        <input class="form-control" type="file" name="image" id="image" multiple>
      </div>
      <!-- <input type="file" id="image" name="image" multiple> -->
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <input class="form-control" type="text" id="description" name="manager[description]" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="wins">Wins</label>
        <input class="form-control" type="text" id="wins" name="manager[wins]" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="losses">Losses</label>
        <input class="form-control" type="text" id="losses" name="manager[losses]" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Manager</button>
      </div>
      <div>
        <a href="/managers">Back to All Managers</a>
      </div>
    </form>
  </div>
</div>

